.homeNav{
  height: 50px;
  width: 100%;
  background-color: plum;
  
}
.homeNav ul{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.homeNav ul li{
  list-style: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.homeNav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.main{
  font-size: 24px;
  justify-content: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}
.title{
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.products{

  text-align: center;
  display: flex;
  margin-top: 50px;
}
.productShowcase {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.product1{
  border: 3px solid purple;
  border-radius: 8px;
  padding: 1rem;
  background-color: plum;
  margin-left: 300px;
}
.productImage1{
    max-width: 100%;
    border-radius: 8px;
    width:300px
}
.product2{
  border: 3px solid purple;
  border-radius: 8px;
  padding: 1rem;
  background-color: plum;
  margin-left: 300px;
  margin-right: 300px;
}
.productImage2{
  max-width: 100%;
  border-radius: 8px;
  width:300px;
  
}